Digital_Design_Assignment_2.pdf
transcript
vsim.wlf
work/_info
work/_vmake
work/@counter/_primary.dat
work/@counter/_primary.dbs
work/@counter/_primary.vhd
work/@counter/verilog.prw
work/@counter/verilog.psm
work/@r@o@m/_primary.dat
work/@r@o@m/_primary.dbs
work/@r@o@m/_primary.vhd
work/@r@o@m/verilog.prw
work/@r@o@m/verilog.psm
work/@washing@machine@controller/_primary.dat
work/@washing@machine@controller/_primary.dbs
work/@washing@machine@controller/_primary.vhd
work/@washing@machine@controller/verilog.prw
work/@washing@machine@controller/verilog.psm
work/@washingachine@top/_primary.dat
work/@washingachine@top/_primary.dbs
work/@washingachine@top/_primary.vhd
work/@washingachine@top/verilog.prw
work/@washingachine@top/verilog.psm
work/_temp/vlog2bd06n
work/_temp/vlog3fkq03
work/_temp/vlog3tmj6w
work/_temp/vlogd57y4q
work/_temp/vlogdtmftm
work/_temp/vlogdwycm5
work/_temp/vlogez7xsh
work/_temp/vlogfi0xmn
work/_temp/vlogh83a7a
work/_temp/vloghfaeg9
work/_temp/vlogk30zii
work/_temp/vlogmz9f1y
work/_temp/vlogt2gmh2
work/_temp/vlogy8wdxv
work/module@name/_primary.dat
work/module@name/_primary.dbs
work/module@name/_primary.vhd
work/module@name/verilog.prw
work/module@name/verilog.psm
~$gital Design Assignment.docx
~WRL2971.tmp
Digital Design Assignment.docx
ELC3060-Assignment2 .docx
Washingachine.vcd
wave.do
wlft6hftk2
work/@washingachine_tb/_primary.dat
work/@washingachine_tb/_primary.dbs
work/@washingachine_tb/_primary.vhd
work/@washingachine_tb/verilog.prw
work/@washingachine_tb/verilog.psm
work/_temp/vlog2yhxys
work/_temp/vlog3zeyb5
work/_temp/vlog4echzm
work/_temp/vlog7fw04m
work/_temp/vlog7i666a
work/_temp/vlog38j971
work/_temp/vlogbavnzt
work/_temp/vlogc9bhvx
work/_temp/vlogdg20y0
work/_temp/vlogezsgf7
work/_temp/vlogfkzaq5
work/_temp/vlogka7qnw
work/_temp/vlogm0hijd
work/_temp/vlogmm7aa6
work/_temp/vlogmtenkq
work/_temp/vlogs2mn0w
work/_temp/vlogt623d8
work/_temp/vlogvacyji
work/_temp/vlogwtjrgr
Specifications.pdf
wlft4s7wn5
wlftmi5r0z
work/_temp/vlogfhtv1x
